.weather-card {
  transition: transform 0.2s ease-in-out;
}
.weather-card:hover {
  transform: translateY(-5px);
}
#weather-icon {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}
/* Footer ko neeche rakhne ke liye aur margin remove karne ke liye */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
